@keyframes loading{
  to{
    width:100%;
  }
}

@keyframes float{
  0%{
    transform:translateY(0px);
  }
  50%{
    transform:translateY(-10px);
  }
  100%{
    transform:translateY(0px);
  }
}

.polaroid{
  animation:float 4s ease-in-out infinite;
}

.question-card:hover,
.memory-card:hover,
.polaroid:hover{
  transform:scale(1.03);
  transition:.3s;
}